<div class="container center">
  <div class="jumbotron" style="border: solid #ff5100;">
    <h1>Let's reunite lost pets with their owners! </h1><br>

    <img  src="assets/images/dingo.png" class="img-fluid" alt="Responsive image"/><br><br>
  
    <h3 class="text-white bg-primary">Here's how it works:</h3>
    <h5>Post your Lost or Found pet signs online! In the best case scenarios, lost pets are return to their owners before having to be found at the local shelter. If you've lost your pet, or have found someone's else's pet, you should contact your local shelter. But in the meantime, feel free to use this site to post about what you've found. </h5>
    <p class="text-white bg-dark">Step 1: </p><p> Take a picture of the lost pet that you have lost or found - try to include a provide a picture of the pet's tag
      if there is any. Do not attempt to handle the pet if it is dangerous - instead call your local pet shelter.</p>

    <p class="text-white bg-dark">Step 2:</p><p> Upload an image of the pet you are trying to describe.
    </p>

    <p class="text-white bg-dark">Step 3: </p><p> Don't forget to provide a description of where and when you lost/found the pet. If you've found a pet, consider providing details on how long you plan to hold
      it for it's owner. Please remember to be specific on when and which pet shelter you will be brining it to.  </p>
    <p class="text-warning bg-dark">Lastly, please remember that the comments section should be used to try and contact the lost pet finder. For example, if you are the lost pet owner and have found your pet listed, you may try and contact the finder in order to request when and which pet shelter to locate your lost pet. Remember, since this is an open forum bulletin board, your post may be commented on and deleted by anyone. Post your personal contact info at your own discretion.</p>
  <br><br><br><footer>A website by Joshua Venegas</footer>
  </div>
  
</div>